.travessao {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.chamada__subtitulo {
    font-family: var(--libre);
    color: var(--branco)!important;
    font-size: 2.425rem;
    font-weight: 400;
    line-height: 3.8625rem;

    width: 18.675rem;
}

.chamada__paragrafo {
    font-size: 1.025rem;
    font-weight: 500;
    line-height: 1.8956rem;

    width: 18.605rem;
}

@media screen and (min-width: 375px) {
    .chamada__subtitulo {  
        width: 21.875rem;
    }

    .chamada__paragrafo {
        width: 21.875rem;
    }
}

@media screen and (min-width: 425px) {
    .travessao {
        font-size: 6rem;
    }

    .chamada__subtitulo {
        font-size: 2.725rem;

        width: 24.675rem;
    }
    
    .chamada__paragrafo {
        font-size: 1.125rem;
        line-height: 1.9956rem;
    
        width: 24.675rem;
    }

}

@media screen and (min-width: 768px) {
    .travessao {
        font-size: 9.2rem;
        line-height: 4.5rem;
    }
    
    .chamada__subtitulo {
        font-size: 4.175rem;
        line-height: 5.4075rem;
    
        width: 37.675rem;
    }
    
    .chamada__paragrafo {
        font-size: 1.125rem;

        width: 32.675rem;
    }

}

@media screen and (min-width: 992px) {
    .travessao {
        font-size: 11.1rem;
    }

    .chamada__subtitulo {
        font-size: 5rem;
        line-height: 6.18rem;
    
        width: 56.75rem;
    }

}